* text=auto

*.md text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.tex text eol=lf
*.cls text eol=lf
*.sty text eol=lf
*.cfg text eol=lf
*.bib text eol=lf
*.bst text eol=lf
*.svg text eol=lf
*.drawio text eol=lf
*.geojson text eol=lf

*.enc binary
*.pyc binary
*.pyd binary
*.ico binary
*.png binary
*.pdf binary
*.ttf binary
*.ttc binary
*.otf binary
*.woff binary
*.woff2 binary
